---
# Activity: p103a03.sas
---

In [1]:
# Standard imports.
import saspy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import HTML
from datetime import datetime
from numpy import nan as NA
import math

In [2]:
# Get a SAS session object
sas = saspy.SASsession(cfgname="oda")

SAS Connection established. Subprocess id is 8144

In [3]:
# Assign the PG1 library
sas.saslib('pg1', engine='base', path='~/PG1/Data/data/data')

5                                                          The SAS System                        Tuesday, March  9, 2021 09:02:00 PM

24
25         libname pg1 base  '~/PG1/Data/data/data'  ;
26
27
28
6                                                          The SAS System                        Tuesday, March  9, 2021 09:02:00 PM

29

---
# SAS Code
```
%let BasinCode=NA;

proc means data=pg1.storm_summary;
	where Basin="&BasinCode";
	var MaxWindMPH MinPressure;
run;

proc freq data=pg1.storm_summary;
	where Basin='&BasinCode';
	tables Type;
run;

```
---

In [4]:
# Creat a new DataFrame object by pulling PG1.STORM_SUMMARY data from SAS.
storm_summary_df = sas.sasdata('STORM_SUMMARY', 'PG1').to_df()

In [8]:
# Print out the first 5 records
storm_summary_df.head()

,Season,Name,Basin,Type,MaxWindMPH,MinPressure,StartDate,EndDate,Hem_NS,Hem_EW,Lat,Lon
0,1980,NaN,na,TS,35.0,NaN,1980-07-17,1980-11-18,N,W,25.7,-91.2
1,1980,NaN,SP,NR,NaN,998.0,1980-03-27,1980-03-30,S,E,19.1,137.0
2,1980,AGATHA,EP,TS,115.0,NaN,1980-06-09,1980-06-15,N,W,12.8,-118.7
3,1980,ALBINE,SI,ET,NaN,NaN,1979-11-27,1979-12-06,S,E,19.1,137.0
4,1980,ALEX,WP,TS,40.0,998.0,1980-10-09,1980-10-14,N,E,27.2,140.5

In [34]:
# Drop the columns we don't want
# Apply a where filter to just get BasinCode basins
# Describe and Transpose
BasinCode = 'SP'
storm_summary_df.drop(columns=['Season', 'Lat', 'Lon']).where(storm_summary_df['Basin'] == BasinCode).describe().T

             count        mean         std     min    25%    50%    75%    max
MaxWindMPH   354.0   77.593220   28.083719    35.0   58.0   69.0   92.0  173.0
MinPressure  359.0  903.487465  818.808652 -9999.0  954.0  975.0  986.0  998.0

In [37]:
storm_summary_df.drop(columns=['Season', 'Lat', 'Lon']).where(storm_summary_df['Basin'] == BasinCode).value_counts('Type')

Type
NR    359
dtype: int64

In [38]:
# Disconnect from SAS server
sas.disconnect()

'Succesfully disconnected. Be sure to have a valid network connection before submitting anything else.'