Q1: Which statement is True?
1. b is a copy of a
1. b and a point to the same object
1. b and a point to different objects that have the same value

In [21]:
# Put your answer here =>

In [22]:
a = 3.14
b = a

Q2: How can I verify which answer is correct?

In [24]:
# Put your code here

---
Q3: Given this function definition

In [25]:
def test(b):
    print("Executed")
    return b

Why did we get each of these outputa?

In [ ]:
# Answer: 
test(True)

In [ ]:
# Answer:
False or test(False)

In [ ]:
# Answer:
True or test(False)

In [ ]:
# Answer:
True and test(True)

In [ ]:
# Answer:
False and test(True)

---
Q4: Create a new Python Integer object that contains the cube of 4 and is pointed to by the variable "four_cubed"

In [ ]:
# Put your statement here

---
Q5: Create a tuple t1 which contains the integers 1, 2 and 3 and a tuple t2 which contains the integers 4, 5 and 6.\
Using t1 and t2, create a tuple t3 which is the combination of t1 and t2.

In [30]:
# Put your code here

---
Q6: What is the simplest code to find the sum of all of the elements of t3?

In [32]:
# Put your code here

---
Q7: This tuple has three objects. What are the types of each object in the order that they are given?

In [36]:
# Put your answers here =>
t = (('a', 'b', 'c'), ['a', 'b', 'c'], {'a', 'b', 'c'})

---
Q8: Although a tuple is immutable, the objects inside a tuple may be mutable.
What statement would I use to add a 'd' to the second object?

In [40]:
# Put your code here

---
Q9: Give the string s, how would you extract only the word 'Python'?\
    There are multiple right answers

In [47]:
s = 'The Zen of Python'
# Put your code here

---
Q10: Create a dictionary with the following key/value pairs:

<table style='justify:left'>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>A</td>
        <td>Apple</td>
    </tr>
    <tr>
        <td>B</td>
        <td>Bacon</td>
    </tr>
    <tr>
        <td>C</td>
        <td>Cat</td>
    </tr>
</table>

In [49]:
# Put your code here

---
Q10: Using a format string, print out the following:\
```The Cat likes Bacon but won't eat Apples```

In [50]:
# Put your answer between the quotes below
print(f" ")

---
Q11: What's the easiest way to sort this list?

In [53]:
l = ['A', 'G', 'C', 'X', '%', '*']

In [56]:
# Put your code here