# Builtin Python Data Structures

## Introduction

It is critical as a Data Scientist to thoroughly understand basic Python data structures and how numbers are represented in the computer. We will build on this foundation when we discuss the Numpy and Pandas libraries. 

The foundational Python data model is documented on the [docs.python.org](https://docs.python.org/3.8/reference/datamodel.html) site and is your go-to reference for Python data.  However, the docs can be at times confusing so we will go through each data structure with explanations and examples.  Our goal is to ensure that everybody has a solid foundation on which to build.

<a class="anchor" id="0"></a>
## Table of Contents
1. [Introduction](#10)
1. [Numbers](#20)
    1. [Integers](#21)
    1. [Float](#22)
    1. [Complex](#23)
1. [Sequences](#30)
    1. [Immutable Sequences](#31)
        1. [Strings](#32)
        1. [Tuples](#33)
        1. [Bytes](#34)
        1. [Range](#35)
    1. [Mutable Sequences](#36)
        1. [Lists](#37)
        1. [Bytearrays](#38)
1. [Sets](#40)
    1. [Sets](#40)
    1. [Frozen Sets](#42)
1. [Mappings](#50)
    1. [Dictionaries](#51)
1. [Special Types](#60)
    1. [None](#61)
    1. [NotImplimented](#62)
    1. [Ellipsis](#63)

<a class="anchor" id="10"></a>
### Introduction
[Back to Table of Contents](#0)
* Everything in Python is an Object. 
* Every Object has:
    * _Type_ (determines what it can do)
    * _Identity_ (its address)
    * _Value_ (what values can it take on)
    * _Pointer_ (the thing you see)
* Objects are accessed by reference (a pointer to the object)
* Information about Python objects is at your fingertips:
    * type(obj)
    * dir(obj)
    * id(obj)
    * help(obj)
    * obj Shift-TAB
    * obj. TAB

In [ ]:
# The variable "a" points to an object whose value is 3.14
a = 3.14
b = a

In [ ]:
# The variable "b" points to the same object as "a".  
b

In [ ]:
# Do the two pointers point to the same object?
a is b

In [ ]:
# The address of the object "a" is pointing to is...
id(a)

In [ ]:
# The address of the object "b" is pointing to is...
id(b)

In [ ]:
# The object pointed to by "b" is not changed, it was destroyed and a new object created. 
b = b + 1
id(b)

In [ ]:
# Do the two pointers point to the same object?
a is b

In [ ]:
# The type of the object that "a" points to is...
type(a)

---
<a class="anchor" id="20"></a>
## Numbers
[Back to Table of Contents](#0)

---
<a class="anchor" id="21"></a>
### Integers
[Back to Table of Contents](#0)
#### There are two types of Integers:
1. Regular Integers
    * Type is **int**
    * Literals: ..., -2, -1, 0, 1, 2, ...
1. Boolean Integers
    * type **bool**
    * Literals: **True** or **False** (also 1 or 0)
    
* Limited by machines virtual memory - huge

#### Regular Integers

In [ ]:
x = 2
print(f"The value of x is {x} and type is {type(x)}")
b = True
print(f"The value of b is {b} and type is {type(b)}")

#### Boolean Integers

In [ ]:
# Boolean True == 1
True + True + True

In [ ]:
# Boolean False == 0
3 * False

##### Comparison operators (and/or)
* Create boolean results
* Have **short-circuit** behavior

In [ ]:
# Simple function to test if one side of a boolean comparison gets executed
def test(b):
    print("Executed")
    return b

In [ ]:
test(True)

**OR** short circuits when the first statement is **True**

In [ ]:
# Why didn't we see test() print "Executed"?
True or test(True)

In [ ]:
True or test(False)

In [ ]:
# Why did we see "Executed"?
False or test(True)

In [ ]:
False or test(False)

**AND** short circuits when the first statement is **False**

In [ ]:
True and test(False)

In [ ]:
True and test(True)

In [ ]:
False and test(False)

In [ ]:
False and test(True)

---
<a class="anchor" id="22"></a>
### Float
[Back to Table of Contents](#0)

* The Real Numbers
* Type **float**
* Literal: 3.14159
* [Double-precision 64-bit](https://en.wikipedia.org/wiki/Double-precision_floating-point_format)

In [ ]:
y = 9.123456789123456789123456789e-300
print(f"The value of y is {y} and type is {type(y)}")

---
<a class="anchor" id="23"></a>
### Complex
[Back to Table of Contents](#0)
* [Complex Number](https://en.wikipedia.org/wiki/Complex_number)
* A pair of double precision floating point numbers

In [ ]:
z = complex(-4, 9) 
print (f'The value of z is {z} and type is {type(z)}') 
print (f'Its real part is {z.real} and its imaginary part is {z.imag}')

In [ ]:
z = 6 + 5j 
print (f'The value of z is {z} and type is {type(z)}') 
print (f'Its real part is {z.real} and its imaginary part is {z.imag}')

In [ ]:
z**0.5

In [ ]:
(z**0.5)**2

In [ ]:
# Square root of 9?
9**0.5

In [ ]:
# Square root of -9?
(-9)**0.5

---
---
<a class="anchor" id="30"></a>
## Sequences
[Back to Table of Contents](#0)

---
<a class="anchor" id="31"></a>
### Immutable Sequences
[Back to Table of Contents](#0)

Once created, immutable sequences cannot be change

---
<a class="anchor" id="32"></a>
#### Strings
[Back to Table of Contents](#0)

* A sequence of [Unicode code points](https://en.wikipedia.org/wiki/Unicode#Code_point_planes_and_blocks) in the range U+0000 - U+10FFFF
* Type **str**
* Literal: "Hello World"

In [ ]:
s = 'Hello World'
print(f"""
The value  of s is        : "{s}"
The type   of s is        : {type(s)}
The length of s is        : {len(s)}
The value of s in caps is : {s.upper()}
""")

In [ ]:
# Slice the string
s[6:11]

In [ ]:
# Slice the slice and add another string
s[6:11][0:3]+'d'

In [ ]:
??s.capitalize()

---
<a class="anchor" id="33"></a>
#### Tuples
[Back to Table of Contents](#0)

* Sequence of arbitrary Python objects
* Special Cases
    * Empty Tuple
    * Singleton Tuple, only 1 object

In [ ]:
# An empty tuple
empty = ()
print(f'The value of empty is {empty} and type is {type(empty)}')

In [ ]:
# A tuple with one object
# NOTE: comma is necessary to avoid confusion
singleton = ('a',)
print(f'The value of singlton is "{singleton}" and type is "{type(singleton)}"')

In [ ]:
# a string with parens, not a tuple
not_a_tuple = ('a')
print(f'The value of not_a_tuple is "{not_a_tuple}" and type is "{type(not_a_tuple)}"')

In [ ]:
# a tuple of an integer and two floats
t1 = 3, 0.1, 0.04
print(t1)

In [ ]:
# operations on a tuple
tup_sum = sum(t1)
tup_sum

In [ ]:
# can't always operate on a tuple - error since you can't add numbers and strings
t1 = (3, 0.1, 0.04, "pi") 
tupe_sum = sum(t1)

In [ ]:
# parenthese are optional

t2 = 'a third', 1/3
t2

In [ ]:
# parenthese are optional unless needed for clarity
# e.g. a tuple of two tuples and a string
    
t3 =   (1, 2, 3), (4, 5, 6), "Hello"
t3

In [ ]:
# t3 and t4 are equavelant

t4 = ((1, 2, 3), (4, 5, 6), "Hello")
t3 == t4

In [ ]:
# t5 is not the same as t3 and t4

t5 = (1, 2, 3, 4, 5, 6, "Hello")
t5 == t4

In [ ]:
# a tuple that contains a list - which is mutable
t6 = ('abc', 'def', ['h','i','j'])
t6

In [ ]:
# you can modify a mutable object inside a tuple
t6[2][1] = 'k'
t6

In [ ]:
t6[0] = 'xyz'

<a class='anchor' id='34'></a>
#### Bytes
[Back to Table of Contents](#0)

* Sequence of bytes
* Bytes are 8-bit bytes, of values 0 <= x < 256

In [ ]:
a = b'abc'
b = bytes('def', "ascii")
print(f'The value of a is "{a}" and type is {type(a)}')
print(f'The value of b is "{b}" and type is {type(b)}')

<a class='anchor' id='35'></a>
#### Range
[Back to Table of Contents](#0)

* Sequence of numbers commonly used for looping\
    ```range(start, stop[, step])```

In [ ]:
for i in range(0, 10, 2):
    print(f'i = {i}')

In [ ]:
list(range(100, 0, -20))

---
---
<a class='anchor' id='36'></a>
## Mutable Sequences
[Back to Table of Contents](#0)

---
<a class='anchor' id='37'></a>
### Lists
[Back to Table of Contents](#0)

* Sequence of arbitrary Python objects
* Must use square brackets [] to create a list
* Or use list() function with any iterable as an argument

In [ ]:
L = [1, 2, 3, 4]
L

In [ ]:
t = (1, 2, 3, 4)
list(t)

In [ ]:
s = 'Hello'
list(s)

#### Common List Operations

In [ ]:
# Slicing
L[1:3]

In [ ]:
# Sorting
h = ['C', 'D', 'B', 'A']
h

In [ ]:
h.sort()
h

In [ ]:
# Appending
h.append('E')
h

---
<a class='anchor' id='38'></a>
### Bytearrays
[Back to Table of Contents](#0)

* Same as bytes but mutable

In [ ]:
ba = bytearray(b'Hello')
ba.hex()

---
---
<a class="anchor" id="40"></a>
<a class="anchor" id="40"></a>
## Sets
[Back to Table of Contents](#0)

### Properties
* Set of immutable objects, which are...
    * Unordered
    * Finite 
    * Unique
* Sets do not have indices 
* Sets can be itterated over

#### Common uses:
* fast membership testing, 
* removing duplicates from a sequence 
* computing mathematical operations such as intersection, union, difference, and symmetric difference.

#### Two ways to create sets

In [ ]:
# give a list to the set() function
a = set([2, 4, 6, 2, 3, 6, 6, 6, 4])
a

In [ ]:
# set literal with curly braces
b = {2, 2, 40, 60, 60, 70}
b

#### Set Operations

In [ ]:
# Union
a | b

In [ ]:
# Intersection
a & b

In [ ]:
# Difference (elements in a that are not in b)
a - b

In [ ]:
# Symmetric Difference (elements in either a or b but not both)
a ^ b

<a class='anchor' id='42'></a>
### Frozen Sets
[Back to Table of Contents](#0)
* Immutable sets. 
* Created by the built-in frozenset() constructor
* Is hashable, it can be used again as an element of another set, or as a dictionary key.

---
---
<a class='anchor' id='50'></a>
## Mappings
[Back to Table of Contents](#0)

* Finite sets of objects indexed by arbitrary index sets. 
* Use subscript notation a[k] to select and item indexed by k from the mapping a

<a class='anchor' id='51'></a>
### Dictionaries
[Back to Table of Contents](#0)

* Finite sets of objects with arbitrary indexes
* Index values must be immutable (a key's hash value must remain constant)
* Insertion order is preserved

In [ ]:
D = {'a': 1, 'b': 2, 'c':3}
D

In [ ]:
D['b']

---
---
<a class='anchor' id='60'></a>
## Special Objects
[Back to Table of Contents](#0)

---
<a class='anchor' id='61'></a>
###  None
[Back to Table of Contents](#0)

* Object of type "NoneType"
* Has no other value
* There is only one None

In [ ]:
a = None
print(f"a is of type {type(a)} at address {id(a)}")
b = None
print(f"b is of type {type(b)} at address {id(b)}")

---
<a class='anchor' id='62'></a>
### NotImplimented
[Back to Table of Contents](#0)

* Object of type "NotImplimentedType"
* Has no other value
* There is only one NotImplimented

In [ ]:
m = NotImplemented
print(f"m is of type {type(m)} at address {id(m)}")
n = NotImplemented
print(f"n is of type {type(n)} at address {id(n)}")

---
<a class='anchor' id='63'></a>
### Ellipsis
[Back to Table of Contents](#0)
* Object of type "ellipsis"
* Has no other value
* Truth value is True
* There is only one Ellipsis
* Useful for slicing multi-dimensional arrays in Numpy

In [ ]:
e = Ellipsis
print(f"e is of type {type(e)} at address {id(e)}")
if e:
    print("e is True")

In [ ]:
e is ...